<html>

<head>
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="css/theme.css">
<link rel="stylesheet" type="text/css" href="css/index.css">
</head>

<body>
<div class="hero">
	<div class="hero__content">
		<h1 class="hero__header">Runner Pairing</h1>
		<h1 class="hero__leading">Find Your Running Partner and Enjoy!</h1>
		<a href="/register" class="hero__button">Sign Up</a>
		<a href="/login" class="hero__button hero__button--blue">Login</a>
	</div>
</div>

</body>
</html>